html {
  background-image: url('/static/img/interlaced/interlaced.png');
  min-height: 100%;
  max-width: 100%;
  width: 100%;
}

body {
  background-color: transparent;
  display: block;
  margin: 0;
  min-height: 100%;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

#__next {
  background-color: transparent;
  margin: 0;
  max-width: 100%;
  padding: 0;
  text-align: center;
  width: 100%;
}
